#heading{
    font-size: 50px;
    font-weight: 40px;
    display: flex;
    justify-content: center;
}

#icon{
    display: flex;
    justify-content: right;
    align-items: center;
}

.container{
    height: 90vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    cursor: pointer;
}